@import url(home-dist.css);
@import url(index-dist.css);

html,body {
	position: sticky;
	min-height: 100vh;
	background-color: #20997b; 
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Montserrat";
	overflow-y: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.h2{
  font-family: "Montserrat";
  font-size: 1.9vh;
  font-weight: 200;
  color: rgba(0,0,0,0.6);

}

.logo{
  display: block;
  margin: auto;
  margin-top: 35vh;
}

.form-structor {
	background-color: #20997b;
	height: 100vh;
	width: 100vw;
	position: relative;
	overflow: hidden;
	
	&::after {
		content: '';
		opacity: .8;
		position: absolute;
		top: 0;right:0;bottom:0;left:0;
		background-repeat: no-repeat;
		background-position: left bottom;
		background-size: 500px;
	}
	
	.signup {
		position: absolute;
		top: 43%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		width: 88%;
		z-index: 5;
		-webkit-transition: all .3s ease;
		
		
		&.slide-up {
			top: 3%;
			-webkit-transform: translate(-50%, 0%);
			-webkit-transition: all .3s ease;
		}
		
		&.slide-up .form-holder,
		&.slide-up .submit-btn {
			opacity: 0;
			visibility: hidden;
		}
		
		&.slide-up .form-title {
			font-size: 3vh;
			cursor: pointer;
		}
		
		.form-title {
      font-family: "Quicksand 2";
      letter-spacing: 1vw;
			color: #fff;
			font-size: 13em;
      font-weight: 100;
      font-size: 3.5vh ;
			text-align: center;
			margin-top: 4.5vh;
      margin-bottom: -0.5vh;
		}
		
		.form-holder {
			border-radius: 5vw;
			background-color: #f6fff7;
			overflow: hidden;
			margin-top: 2vh;
			opacity: 1;
			visibility: visible;
			-webkit-transition: all .3s ease;
      		box-shadow: 1px 1px 5px #313839;
			
      .center-label{
        display: table;
        margin: 0 auto;

        .label{
          font-family: "Montserrat";
          border: 0;
          outline: none;
          box-shadow: none;
          height: 3vh;
          line-height: 4vh;
          padding: 1vh 2vw;
          border-bottom: 1px solid rgba(238, 238, 238, 0.071);
          width: 100%;
          font-size: 1.75vh;
          border-bottom: 0;
          color: rgba(0,0,0,0.6);
          
          .input1{
            display: inline-block;
            justify-items: center;
          }

          

          
        }
      }

			.input {
        font-family: "Montserrat";
				border: 0;
				outline: none;
				box-shadow: none;
				display: block;
				height: 4.5vh;
				line-height: 2vh;
				padding: 1vh;
        padding-bottom: 1vh;
        padding-left: 3.6vw;
				border-bottom: 1px solid #eee;
				background-color: #f6fff7;
				width: 81.2vw;
				font-size: 1.9vh;
				border-radius: 5vw;

				
				&:last-child {
					border-bottom: 0;
				}
				&::-webkit-input-placeholder {
					color: rgba(0,0,0,0.6);
				}
			}
		}
		
		
		.submit-btn {
			background-color: rgba(0,0,0,0.4);
			color: rgba(256,256,256,10);
			border:0;
			border-radius: 15px;
			display: block;
			margin: 15px auto; 
			padding: 2vh;
			width: 80%;
			font-size: 2.5vh;
			font-weight: bold;
			letter-spacing: .4vw;
			cursor: pointer;
			opacity: 1;
			visibility: visible;
			-webkit-transition: all .3s ease;
			
			&:active {
				transition: all .3s ease;
				background-color: rgba(0,0,0,0.8);
			}
		}
	}
	
	.login {
		position: absolute;
		top: 19%;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100% ;
		background-color: #f0fff2;
		z-index: 5;
		-webkit-transition: all .3s ease;
		
		&::before {
			content: '';
			position: absolute;
			left: 50%;
			top: -5vh;
			margin: 0;
			-webkit-transform: translate(-50%, 0);
			background-color: #f0fff2;
			width: 120vw;
			height: 10vh;
			border-radius: 100%;
			z-index: 5;
			-webkit-transition: all .3s ease;
		}
		
		.center {
			position: absolute;
			top: calc(50% - 10%);
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			width: 80%;
			z-index: 5;
			-webkit-transition: all .3s ease;
			
			
			.form-title {
				color: #0c3640;
        			font-family: "Quicksand 2";
        			font-weight: 900;
        			margin-left: -3vw;
				font-size: 4vh;
				text-align: center;

				span {
					color: rgba(0,0,0,0.4);
					opacity: 0;
			    visibility: hidden;
				  -webkit-transition: all .3s ease;
				}
			}

			.form-holder {
				border-radius: 15px;
				background-color: #fff;
				border: 1px solid #eee;
				overflow: hidden;
				margin-top: 6vh;
				opacity: 1;
				visibility: visible;
				-webkit-transition: all .3s ease;
        			box-shadow: 1px 1px 10px rgb(49, 56, 57, .2);
				


				.input {
          				font-family: "Montserrat";
					border: 0;
					outline: none;
					box-shadow: none;
					display: block;
					height: 5vh;
					line-height: 2vh;
					padding: .9vh 3vw;
					border-bottom: 1px solid #eee;
					width: 72.5vw;
					font-size: 2.1vh;
					border-radius: 3.1vw;

					&:last-child {
						border-bottom: 0;
					}
					&::-webkit-input-placeholder {
						color: rgba(0,0,0,0.4);
					}
				}
			}

			.submit-btn {
				background-color: #4F97A3;
				color: rgba(256,256,256,10);
				border:0;
				border-radius: 15px;
				display: block;
				margin: 3.5vh auto; 
				padding: 2.5vh 5vw;
				width: 70%;
				font-size: 2vh;
        			font-family: "Montserrat 2";
				font-weight: bold;
				cursor: pointer;
				opacity: 1;
				visibility: visible;
				-webkit-transition: all .3s ease;

				&:active {
					transition: all .3s ease;
					background-color: rgb(23, 123, 147, 10);
				}
			}
		}
		
		&.slide-up {
			top: 90%;
			-webkit-transition: all .3s ease;
		}
		
		&.slide-up .center {
			top: 10%;
			-webkit-transform: translate(-50%, 0%);
			-webkit-transition: all .3s ease;
		}
		
		&.slide-up .form-holder,
		&.slide-up .submit-btn {
			opacity: 0;
			visibility: hidden;
			-webkit-transition: all .3s ease;
		}
		
		&.slide-up .form-title {
			font-size: 2.3vh;
			margin: 0;
			padding: 0;
			cursor: pointer;
			-webkit-transition: all .3s ease;
		}
		
		&.slide-up .form-title span {
			margin-right: 1vw;
			opacity: 1;
			visibility: visible;
			-webkit-transition: all .3s ease;
		}
	}

}

select {
	/* Reset Select */
	appearance: none;
	outline: 0;
	border: 0;
	box-shadow: none;
	/* Personalize */
	flex: 1;
	padding: 0 1em;
	color: #fff;
	background-color: var(--darkgray);
	background-image: none;
	cursor: pointer;
	color: rgba(0,0,0,0.6);
	font-size: 2vh;
	font-family: 'Montserrat';
	border-radius: 4vw;
    }
    /* Remove IE arrow */
    select::-ms-expand {
	display: none;
    }
    /* Custom Select wrapper */
    .select {
	position: relative;
	display: flex;
	width: 75vw;
	height: 5vh;
	margin: auto;
	border-radius: 4vw;
	overflow: hidden;
	border: solid #20997b .4px;
	// box-shadow: 1px 3px 6px 2px #929393;
	margin-bottom: 2vh;
    }
    /* Arrow */
    .select::after {
	content: '\25BC';
	position: absolute;
	top: 0;
	right: 0;
	padding: 1.5vh;
	background-color: #20997b;
	transition: .25s all ease;
	pointer-events: none;
    }
    /* Transition */
    .select:active::after {
	color: #2099b7;
    }
    


// Responsive

// @media screen and (min-width: 412px) and (max-width: 425px) and (min-height: 845px) and (max-height: 865px)  {

	
// 	.form-structor{
// 		width: 800px;
// 		height: 890px;

// 		.signup{
// 			width: 85%;

// 			.form-title {
// 					margin-top: 40px;
// 					}
// 		}
// 	}

	

// }

