@font-face {
      font-family: "Montserrat 2";
      src: url(../assets/fonts/static/Montserrat-Bold.ttf);
    }
    
    @font-face {
          font-family: "Montserrat Normal";
          src: url(../assets/fonts/static/Montserrat-Regular.ttf);
        }

        @font-face {
            font-family: "Montserrat Med";
            src: url(../assets/fonts/static/Montserrat-Medium.ttf);
          }

      @font-face {
            font-family: "Montserrat Light";
            src: url(../assets/fonts/static/Montserrat-Light.ttf);
          }
    
    @font-face {
          font-family: "Quicksand";
          src: url(../assets/fonts/Quicksand-VariableFont_wght.ttf);
    }
    
    @font-face {
      font-family: "Quicksand 2";
      src: url(../assets/fonts/static/Quicksand-Medium.ttf);
    }
    
    @font-face {
          font-family: "Quicksand Thin";
          src: url(../assets/fonts/static/Montserrat-Thin.ttf);
    }

html{
	background-color: #FFFFE3; 
	font-family: "Montserrat";
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin: 0;
      width: 100%;
      height: 100%;
      overflow-y: hidden;
}

body{
      margin: 0;
      height: 100%;
}

.formContainer{
      background-color: #20997B;
      height: 76vh;
      margin-top: 20vh;
      text-align: center;
      
}

.pfp{
      position: absolute;
      left: 26vw;
      top: 6.4vh;
      
}

.back{
      position: relative;
      top: 3vh;
      left: 3vh;

}


input{
      background: #FFFFE3;
      border-radius: 3vw;
      border: none;
      height: 6vh;
      width: 60vw;
      font-size: 2.3vh;
      font-family: "Montserrat Light";
      padding-left: 3vw;
      box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
      margin: 1vh;
}

input::placeholder{
      color: #20997B;
}

button{
      background: #1F4650;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10vw;
      height: 6.5vh;
      width: 60vw;
      border: none;
      color: #FFFFE3;
      font-family: "Montserrat Med";
      font-size: 2vh;

}

.form{
      padding-top: 6vh;
}